Repository iotexproject/iotex-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iotexproject/protocol-team, @CoderZhi, @dustinxie, @Liuhaai, @envestcc, @millken

feat(ioctl): use ipfs cid as project config url
  ioctl/cmd/ws/wsproject.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

chore: change default ws register contract address
  ioctl/config/configsetget.go
  ioctl/newcmd/config/config.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

[ioctl] set default endpoint to iotex mainnet (#4050)
  ioctl/config/config.go
  ioctl/config/configsetget.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

reset inject
  tools/actioninjector.v2/internal/cmd/inject.go
Owners: @iotexproject/protocol-team

[state] convert fresh legacy address to zero-nonce type
  action/protocol/account/transfer.go
  action/protocol/context.go
  action/protocol/execution/evm/evm.go
  action/protocol/execution/evm/evmstatedbadapter.go
  action/protocol/generic_validator.go
  action/protocol/rewarding/protocol.go
  action/protocol/staking/protocol.go
  actpool/actpool.go
  actpool/actpool_test.go
  actpool/actqueue.go
  actpool/actqueue_test.go
  actpool/queueworker.go
  api/coreservice.go
  state/account.go
  state/account_test.go
  state/factory/workingset.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc, @millken

address comment 1
  action/protocol/execution/evm/evmstatedbadapter.go
  api/coreservice.go
  api/web3server.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc, @millken

add test
  blockchain/integrity/integrity_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

update gRPC API
  api/grpcserver.go
  api/grpcserver_integrity_test.go
  api/serverV2_integrity_test.go
  go.mod
  go.sum
Owners: @CoderZhi, @dustinxie, @Liuhaai, @millken, @iotexproject/protocol-team

bucket validation
  action/protocol/staking/bucket_validation.go
  action/protocol/staking/bucket_validation_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc

address comments
  action/protocol/staking/bucket_validation_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc

[refactor] Add bucket validation util functions (#4019)
  action/protocol/staking/bucket_validation.go
  action/protocol/staking/bucket_validation_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc

move conversion check to workingset
  action/protocol/account/transfer.go
  action/protocol/execution/evm/evm.go
  action/protocol/execution/evm/evmstatedbadapter.go
  action/protocol/rewarding/protocol.go
  action/protocol/staking/protocol.go
  blockchain/integrity/integrity_test.go
  state/factory/workingset.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @envestcc

address comments
  actpool/accountpool.go
  actpool/actpool.go
  actpool/queueworker.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

change golang to v1.20 from 1.19.12
  .github/workflows/ci.yaml
  .github/workflows/master.yaml
  Dockerfile
  install-cli.sh
  tools/bot/Dockerfile
Owners: @CoderZhi, @dustinxie, @Liuhaai, @iotexproject/protocol-team

upload ioctl to s3
  .github/workflows/master.yaml
Owners: @CoderZhi, @dustinxie, @Liuhaai

remove old dependency
  go.mod
  go.sum
Owners: @iotexproject/protocol-team

use go 1.20.3
  .github/workflows/ci.yaml
  .github/workflows/master.yaml
Owners: @CoderZhi, @dustinxie, @Liuhaai

change golang to v1.20 from 1.19.12
  .github/workflows/ci.yaml
  .github/workflows/master.yaml
Owners: @CoderZhi, @dustinxie, @Liuhaai

clean up imports
  .github/workflows/release.yaml
  pkg/util/byteutil/byteutil_test.go
  pkg/util/fileutil/fileutil_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

address comment
  actpool/actpool.go
  api/coreservice.go
  blockchain/integrity/integrity_test.go
Owners: @CoderZhi, @dustinxie, @Liuhaai, @millken

[server] add operator address into node's metrics
  server/itx/heartbeat.go
  server/itx/server.go
Owners: @CoderZhi, @dustinxie, @Liuhaai

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @iotexproject/protocol-team

#Specific owners
/consensus/	    @CoderZhi @dustinxie @Liuhaai @envestcc
/ioctl/  	    @CoderZhi @dustinxie @Liuhaai
/api/   		    @CoderZhi @dustinxie @Liuhaai @millken
/config/	        @CoderZhi @dustinxie @Liuhaai @envestcc
/p2p/		    @CoderZhi @dustinxie @Liuhaai @envestcc
/action/		    @CoderZhi @dustinxie @Liuhaai @envestcc
/blockchain/	    @CoderZhi @dustinxie @Liuhaai
/blockindex/	    @CoderZhi @dustinxie @Liuhaai
/crypto/		    @CoderZhi @dustinxie @Liuhaai
/db/		        @CoderZhi @dustinxie @Liuhaai
/dispatcher/	    @CoderZhi @dustinxie @Liuhaai @envestcc
/pkg/		    @CoderZhi @dustinxie @Liuhaai
/server/		    @CoderZhi @dustinxie @Liuhaai
/state/		    @CoderZhi @dustinxie @Liuhaai
/actpool/		@CoderZhi @dustinxie @Liuhaai
/nodeinfo/ 		@CoderZhi @dustinxie @envestcc
/.github/ 		@CoderZhi @dustinxie @Liuhaai
