Repository iotexproject/iotex-core, changes with the owners that CODEOWNERS names for each.
All owners: @dustinxie, @Liuhaai, @raullenchai, @CoderZhi, @huof6829, @millken, @xianhuawei

add active web3 rewarding settings
  action/protocol/context.go
  action/protocol/rewarding/fund.go
  action/protocol/rewarding/protocol.go
  action/protocol/rewarding/reward.go
  blockchain/genesis/genesis.go
  state/factory/workingset.go
Owners: @dustinxie

check active when encoding is web3
  action/protocol/rewarding/fund.go
  action/protocol/rewarding/reward.go
Owners: @dustinxie

check active with deposit action
  action/protocol/rewarding/fund.go
Owners: @dustinxie

remove stale comment and not use global var
  ioctl/newcmd/contract/contract.go
  ioctl/newcmd/contract/contract_test.go
  ioctl/newcmd/contract/contractcompile.go
  ioctl/newcmd/contract/contractcompile_test.go
Owners: @huof6829

replace nested Wrap with WithMessage
  ioctl/newcmd/contract/contractcompile.go
Owners: @huof6829

complete tests
  api/web3server_integrity_test.go
Owners: @Liuhaai, @millken

skip not found solc
  ioctl/newcmd/contract/contractcompile_test.go
Owners: @huof6829

update solc version
  install-solc.sh
Owners: @dustinxie, @Liuhaai, @raullenchai, @CoderZhi

update solc message version
  ioctl/newcmd/contract/contractprepare.go
Owners: @huof6829

[ioctl] Build contract deploy command line into new ioctl (#3708)
  ioctl/newcmd/contract/contractdeploy.go
  ioctl/newcmd/contract/contractdeploy_test.go
Owners: @huof6829

check solc.Minor
  ioctl/newcmd/contract/contract.go
Owners: @huof6829

[ioctl] Build contract invoke command line into new ioctl (#3709)
  ioctl/newcmd/contract/contractinvoke.go
  ioctl/newcmd/contract/contractinvoke_test.go
Owners: @huof6829

CODEOWNERS:

#List of owners based on modules

#Default owners
*		        @dustinxie @Liuhaai @raullenchai @CoderZhi

#Specific owners
/consensus/	    @CoderZhi 
/ioctl/  	    @huof6829 
/api/   		    @Liuhaai @millken 
/config/	        @dustinxie @CoderZhi 
/p2p/		    @Liuhaai @dustinxie

/action/		    @dustinxie
/blockchain/	    @dustinxie
/blockindex/	    @dustinxie
/crypto/		    @dustinxie
/db/		        @dustinxie
/dispatcher/	    @dustinxie
/pkg/		    @dustinxie
/server/		    @dustinxie
/state/		    @dustinxie
/actpool/		@Liuhaai
/.github/workflows 		@dustinxie @xianhuawei
